/* Custom CSS Styles to override Bootstrap */

/* 273E47
  BD632F
  D8973C
  EDE6D1
  A4243B

  light bg
  #E9ECEF
/*
  ========================================
  Custom styles
  ========================================
*/
body {
  background-color: #E9ECEF;
  color: #273E47;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  color: #273E47;
}

h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

.text-muted {
  color:  #273E47;
}


/*
==========================
NAVBAR
==========================
*/

#navbar {
  font-weight: 400;
  background-color: #273E47;
}

#logo {
  color: #DFA95F;
}

#logo:hover {
  color: #EDE6D1;
}

/*
==========================
JUMBOTRON
==========================
*/

.jumbotron {
  padding-bottom: 0;
  margin-top: 20px;
}

.lead {
  font-size: 18px;
}

.profile-img {
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}

/*
==========================
FOOTER
==========================
*/

#footer {
  color: #DFA95F;
  background-color: #273E47;
}

/*
===========================
BUTTONS
===========================
*/

.btn-primary {
  color: #DFA95F;
  background-color:  #273E47;
  border-color: #273E47;
}




